*.8xv
__pycache__/
bench/bin/
bench/cemu/run
bench/obj/
bench/src/workload.h
bin/
obj/
tests/calc-gg/bin/
tests/calc-gg/obj/
tests/calc/bin/
tests/calc/obj/
tests/cputest
tests/ggtest
tests/rendertest
tests/zex
